In [89]:
import csv
pd.read_csv(filepath_or_buffer = "tmdb.movies.csv")

FileNotFoundError: [Errno 2] File b'tmdb.movies.csv' does not exist: b'tmdb.movies.csv'

In [91]:
pwd

'/Users/sandrawelbeck/Desktop/Phase_1_Project_Folder'

In [90]:
import pandas as pd
df = pd.read_csv("tmdb.movies.csv")
C:/Users/sandrawelbeck/Desktop/Phase_1_Project_Folder/tmdb.movies.csv

FileNotFoundError: [Errno 2] File b'tmdb.movies.csv' does not exist: b'tmdb.movies.csv'

In [70]:
type(df)

pandas.core.frame.DataFrame

In [21]:
df.columns

Index(['Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title',
       'popularity', 'release_date', 'title', 'vote_average', 'vote_count'],
      dtype='object')

In [22]:
df.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [30]:
df.shape

(26517, 10)

In [24]:
df.isnull().sum()

Unnamed: 0           0
genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

In [28]:
df['original_language'] != 'en'

26517

In [34]:
df['original_language'].unique()

array(['en', 'nl', 'es', 'ja', 'sv', 'de', 'fr', 'cn', 'it', 'ru', 'zh',
       'hi', 'no', 'ko', 'da', 'fi', 'pl', 'te', 'hu', 'tr', 'pt', 'he',
       'fa', 'th', 'cs', 'et', 'tl', 'lt', 'xx', 'bs', 'ar', 'is', 'el',
       'mr', 'hr', 'ro', 'sr', 'uk', 'nb', 'hz', 'ca', 'bg', 'sl', 'lv',
       'si', 'ab', 'ta', 'bo', 'id', 'sq', 'bn', 'gu', 'lo', 'ne', 'kk',
       'hy', 'ps', 'kn', 'vi', 'ku', 'ka', 'ml', 'ur', 'mi', 'eu', 'sn',
       'cy', 'ha', 'ky', 'yi', 'pa', 'xh', 'cr', 'sw', 'af', 'dz'],
      dtype=object)

In [43]:
df_filtered = df[df['original_language'] == 'en']

In [44]:
df_filtered['original_language'].nunique()

1

In [45]:
df_filtered.shape

(23291, 10)

In [46]:
df.shape

(26517, 10)

In [55]:
del df_filtered['Unnamed: 0']

In [68]:
df_filtered['genre_ids'][0][0]

'['

In [69]:
df_filtered['genre_ids'].to_list(), df.columns=["genre_id1","genre_id1","genre_id3"]
# df2 = df_filtered.genre_ids.apply(pd.Series)
# df2.columns = ["genre_id1","genre_id1","genre_id3"]

SyntaxError: can't assign to function call (<ipython-input-69-2d8cbdf0ae99>, line 1)

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...
23286,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
23287,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
23288,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
23289,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
23290,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1